{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'site/bootstrap-5-2-0-dist/css/bootstrap.css' %}">
  </head>
  <body>
    {% block body %}
    <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
      <div class="row">
        <main class="bd-main order-1">
          {% if messages %}
          <div>
            <strong>Messages:</strong>
            <ul>
              {% for message in messages %}
              <li>{{message}}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
      
          <div>
            <strong>Menu:</strong>
            <ul>
              {% if user.is_authenticated %}
              <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
              <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
              {% else %}
              <li><a href="{% url 'account_login' %}">Sign In</a></li>
              <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
              {% endif %}
            </ul>
          </div>
          {% block content %}
          {% endblock %}
          {% endblock %}
          {% block extra_body %}
          {% endblock %}
        </main>
      </div>
    </div>
  </body>
  <script src="{% static 'site/bootstrap-5-2-0-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
